<div class="row">
  <div class="col-xs-4">
     <a class="btn btn-primary" type="button" href="<%= note_categories_path %>">Note Categories</a>
  </div>
  <div class="col-xs-4 pull-right">
    <a class="btn btn-large btn-primary" type="button" href="<%= new_note_path %>">New</a>
  </div>
</div>

<div class="row">
  <div class="col-xs-12">
    <div class="table-responsive">
      <table class="table centered-contents">
        <thead>
          <tr>
            <th>Category</th>
            <th>Title</th>
            <th>Created</th>
            <th>Last Viewed</th>
            <th>Total Views</th>
            <th colspan="3"></th>
          </tr>
        </thead>

        <tbody>
          <% @notes.each do |note| %>
          <tr>
            <td><%= NoteCategory.find(note.note_category_id).name %></td>
            <td><%= note.title %></td>
            <td><%= note.created_at %></td>
            <td><%= note.last_viewed %></td>
            <td><%= note.total_views %></td>
            <td><%= link_to 'Show', note %></td>
            <td><%= link_to 'Edit', edit_note_path(note) %></td>
            <td><%= link_to 'Destroy', note, method: :delete, data: { confirm: 'Are you sure?' } %></td>
          </tr>
          <% end %>
        </tbody>
      </table>

    </div>
  </div>
</div>
