<div class="panel panel-default note-panel">
  <div class="panel-heading">
    <h3 class="panel-title">
      <i class="fa fa-sticky-note-o"></i> <%= @title %>
      <div class="pull-right">
        <a href="<%= edit_note_path(@note.id) %>" class="btn btn-xs btn-primary">
          <i class="fa fa-pencil"></i> Edit
        </a>
        <button type="button" class="btn btn-xs btn-default note-toggle">
          <i class="fa fa-chevron-<%= @startCollapsed ? 'down' : 'up' %>"></i>
        </button>
      </div>
    </h3>
  </div>
  
  <div class="panel-body note-content" <%= 'style="display: none;"' if @startCollapsed %>>
    <%= @content.html_safe %>
  </div>
</div>

<script>
  $(document).ready(function() {
    $('.note-toggle').click(function() {
      $(this).find('i').toggleClass('fa-chevron-down fa-chevron-up');
      $(this).closest('.panel').find('.note-content').slideToggle();
    });
  });
</script>
