<h1>Listing premade_tasks</h1>

<table>
  <thead>
    <tr>
      <th>Name</th>
      <th colspan="3"></th>
    </tr>
  </thead>

  <tbody>
    <% @premade_tasks.each do |premade_task| %>
      <tr>
        <td><%= premade_task.name %></td>
        <td><%= link_to 'Show', premade_task %></td>
        <td><%= link_to 'Edit', edit_premade_task_path(premade_task) %></td>
        <td><%= link_to 'Destroy', premade_task, method: :delete, data: { confirm: 'Are you sure?' } %></td>
      </tr>
    <% end %>
  </tbody>
</table>

<br>

<%= link_to 'New Premade task', new_premade_task_path %>
